In [17]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import col, expr, lit
from pyspark.sql.window import Window
import duckdb

In [2]:
spark = SparkSession.builder\
    .config("spark.jars", "duckdb.jar") \
    .getOrCreate()

24/04/16 16:16:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [37]:
# compravenda_sup
DF = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:duckdb:formatted_zone/compravenda_sup.db") \
    .option("driver", "org.duckdb.DuckDBDriver") \
    .option("query", "SELECT * FROM RDD") \
    .load()

# verificar duplicats
print(f"Hi ha {DF.count() - DF.distinct().count()} valors duplicats al DataFrame 'formatted_zone/compravenda_sup.db' de {DF.count()} valors totals")

# substituir "--" por NA
DF = DF.withColumn('Nombre', F.when(col('Nombre') == '--', None).otherwise(col('Nombre')))
# verificar NA
print(f'Hi ha {DF.count() - DF.na.drop().count()} NAs')
# imprimir toda la informació que té un NA
valorsnull = DF.filter(DF.Nombre.isNull()).show()

# passar a numeric
DF = DF.withColumn('Nombre', DF['Nombre'].cast('float'))

# Imputar NA de Nombre amb la mitjana de "Nombre" per "Nom_barri"
mean_nombre_nom_barri = DF.groupBy('Nom_barri').agg(F.mean('Nombre').alias('mean_nombre_nom_barri'))

DF = DF.join(mean_nombre_nom_barri, on='Nom_barri', how='left')
DF = DF.withColumn('Nombre', F.when(DF['Nombre'].isNull(), DF['mean_nombre_nom_barri']).otherwise(DF['Nombre']))

DF.show()

# escalar
min_max = spark.read \
  .format("jdbc") \
  .option("url", "jdbc:duckdb:formatted_zone/rent_price.db") \
  .option("driver", "org.duckdb.DuckDBDriver") \
  .option("query", "SELECT min(Price), max(Price) FROM RDD") \
  .load()

Hi ha 0 valors duplicats al DataFrame 'formatted_zone/compravenda_sup.db' de 876 valors totals
Hi ha 290 NAs
+----+---------+--------------+-------------------+----------+--------------------+----------------------------------+------+
| Any|Trimestre|Codi_Districte|      Nom_Districte|Codi_Barri|           Nom_Barri|Superfície_mitjana_(m2_construïts)|Nombre|
+----+---------+--------------+-------------------+----------+--------------------+----------------------------------+------+
|2023|        1|             7|     Horta-Guinardó|        42|            la Clota|                             Total|  NULL|
|2023|        1|             8|         Nou Barris|        56|            Vallbona|                             Total|  NULL|
|2023|        1|             1|       Ciutat Vella|         1|            el Raval|              Habitatge nou lliure|  NULL|
|2023|        1|             2|           Eixample|         5|       el Fort Pienc|              Habitatge nou lliure|  NULL|
|2023|        1|             2|           Eixample|        10|         Sant Antoni|              Habitatge nou lliure|  NULL|
|2023|        1|             3|     Sants-Montjuïc|        11|        el Poble Sec|              Habitatge nou lliure|  NULL|
|2023|        1|             3|     Sants-Montjuïc|        12|la Marina del Pra...|              Habitatge nou lliure|  NULL|
|2023|        1|             3|     Sants-Montjuïc|        13|   la Marina de Port|              Habitatge nou lliure|  NULL|
|2023|        1|             3|     Sants-Montjuïc|        17|       Sants - Badal|              Habitatge nou lliure|  NULL|
|2023|        1|             5|Sarrià-Sant Gervasi|        24|     les Tres Torres|              Habitatge nou lliure|  NULL|
|2023|        1|             6|             Gràcia|        32|el Camp d'en Gras...|              Habitatge nou lliure|  NULL|
|2023|        1|             7|     Horta-Guinardó|        34|            Can Baró|              Habitatge nou lliure|  NULL|
|2023|        1|             7|     Horta-Guinardó|        41|    la Vall d'Hebron|              Habitatge nou lliure|  NULL|
|2023|        1|             7|     Horta-Guinardó|        42|            la Clota|              Habitatge nou lliure|  NULL|
|2023|        1|             8|         Nou Barris|        46| el Turó de la Peira|              Habitatge nou lliure|  NULL|
|2023|        1|             8|         Nou Barris|        48|        la Guineueta|              Habitatge nou lliure|  NULL|
|2023|        1|             8|         Nou Barris|        49|           Canyelles|              Habitatge nou lliure|  NULL|
|2023|        1|             8|         Nou Barris|        50|        les Roquetes|              Habitatge nou lliure|  NULL|
|2023|        1|             8|         Nou Barris|        53|    la Trinitat Nova|              Habitatge nou lliure|  NULL|
|2023|        1|             8|         Nou Barris|        54|          Torre Baró|              Habitatge nou lliure|  NULL|
+----+---------+--------------+-------------------+----------+--------------------+----------------------------------+------+
only showing top 20 rows

+--------------------+----+---------+--------------+--------------+----------+----------------------------------+------------------+---------------------+
|           Nom_Barri| Any|Trimestre|Codi_Districte| Nom_Districte|Codi_Barri|Superfície_mitjana_(m2_construïts)|            Nombre|mean_nombre_nom_barri|
+--------------------+----+---------+--------------+--------------+----------+----------------------------------+------------------+---------------------+
|la Dreta de l'Eix...|2023|        1|             2|      Eixample|         7|                             Total|             116.5|    114.2000003390842|
|      el Barri Gòtic|2023|        1|             1|  Ciutat Vella|         2|                             Total|  82.9000015258789|     77.7999996609158|
|l'Antiga Esquerra...|2023|        1|             2|      Eixample|         8|                             Total|              99.5|    99.86666531032986|
|   la Marina de Port|2023|        1|             3|Sants-Montjuïc|        13|                             Total|              69.5|     66.4874997138977|
|la Marina del Pra...|2023|        1|             3|Sants-Montjuïc|        12|                             Total| 78.69999694824219|    82.89999898274739|
|         Sant Antoni|2023|        1|             2|      Eixample|        10|                             Total| 81.30000305175781|   118.23000106811523|
|Sant Pere, Santa ...|2023|        1|             1|  Ciutat Vella|         4|                             Total|  70.9000015258789|    75.47777811686198|
|       Sants - Badal|2023|        1|             3|Sants-Montjuïc|        17|                             Total|62.900001525878906|    77.07500123977661|
|la Nova Esquerra ...|2023|        1|             2|      Eixample|         9|                             Total| 74.69999694824219|    78.82500012715657|
|           les Corts|2023|        1|             4|     Les Corts|        19|                             Total|  80.9000015258789|     89.3000022040473|
|la Font de la Gua...|2023|        1|             3|Sants-Montjuïc|        14|                             Total|              78.5|    76.53750038146973|
|        el Poble Sec|2023|        1|             3|Sants-Montjuïc|        11|                             Total|61.599998474121094|    64.87142835344586|
|la Maternitat i S...|2023|        1|             4|     Les Corts|        20|                             Total|              91.0|    91.34285627092633|
|       el Fort Pienc|2023|        1|             2|      Eixample|         5|                             Total|  80.5999984741211|    81.85714285714286|
|          la Bordeta|2023|        1|             3|Sants-Montjuïc|        16|                             Total| 78.69999694824219|    75.73749923706055|
|         Hostafrancs|2023|        1|             3|Sants-Montjuïc|        15|                             Total|              67.5|    67.07777743869357|
|           Pedralbes|2023|        1|             4|     Les Corts|        21|                             Total| 145.3000030517578|   139.72500038146973|
|            el Raval|2023|        1|             1|  Ciutat Vella|         1|                             Total| 63.79999923706055|    67.46999931335449|
|               Sants|2023|        1|             3|Sants-Montjuïc|        18|                             Total| 73.19999694824219|    70.07777743869357|
|      la Barceloneta|2023|        1|             1|  Ciutat Vella|         3|                             Total| 41.29999923706055|    48.29999961853027|
+--------------------+----+---------+--------------+--------------+----------+----------------------------------+------------------+---------------------+
only showing top 20 rows