In [23]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import col, expr, lit, min, max, mean
from statsmodels.tsa.arima.model import ARIMA

In [22]:
pip install statsmodels

Defaulting to user installation because normal site-packages is not writeable
Collecting statsmodels
  Downloading statsmodels-0.14.2-cp39-cp39-macosx_11_0_arm64.whl.metadata (9.2 kB)
Requirement already satisfied: numpy>=1.22.3 in /Users/ruthparajo/Library/Python/3.9/lib/python/site-packages (from statsmodels) (1.26.0)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /Users/ruthparajo/Library/Python/3.9/lib/python/site-packages (from statsmodels) (1.11.3)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /Users/ruthparajo/Library/Python/3.9/lib/python/site-packages (from statsmodels) (2.1.1)
Collecting patsy>=0.5.6 (from statsmodels)
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: packaging>=21.3 in /Users/ruthparajo/Library/Python/3.9/lib/python/site-packages (from statsmodels) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ruthparajo/Library/Python/3.9/lib/python/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ruthparajo/Library/Python/3.9/lib/python/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/ruthparajo/Library/Python/3.9/lib/python/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2023.3)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from patsy>=0.5.6->statsmodels) (1.15.0)
Downloading statsmodels-0.14.2-cp39-cp39-macosx_11_0_arm64.whl (10.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 2.9 MB/s eta 0:00:0000:010:01
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.9/233.9 kB 3.9 MB/s eta 0:00:00a 0:00:01
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.6 statsmodels-0.14.2

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:
spark = SparkSession.builder\
    .config("spark.jars", "duckdb.jar") \
    .getOrCreate()

In [13]:
DF = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:duckdb:trusted_zone/freshdata_trusted.db") \
    .option("driver", "org.duckdb.DuckDBDriver") \
    .option("query", "SELECT * FROM rent_price") \
    .load()

In [14]:
DF.show()

+----+---------+--------------+--------------------+--------------------+------+-------------------+
|Year|Trimester|      District|       Neighbourhood|       Average _rent| Price|      Price_Escalat|
+----+---------+--------------+--------------------+--------------------+------+-------------------+
|2014|        1|  Ciutat Vella|            el Raval|average rent (eur...|589.55|0.23641140585517476|
|2014|        1|  Ciutat Vella|      Gothic Quarter|average rent (eur...|712.79|0.30156053413404094|
|2014|        1|  Ciutat Vella|      la Barceloneta|average rent (eur...|540.71|0.21059281266189483|
|2014|        1|  Ciutat Vella|Sant Pere, Santa ...|average rent (eur...|673.44|0.28075869870907033|
|2014|        1|      Eixample|          Fort Pienc|average rent (eur...|736.09| 0.3138777581595001|
|2014|        1|      Eixample|     Sagrada Familia|average rent (eur...|673.37| 0.2807216941733715|
|2014|        1|      Eixample|la Dreta de l'Eix...|average rent (eur...| 921.4| 0.4118393368787202|
|2014|        1|      Eixample|l'Antiga Esquerra...|average rent (eur...|827.87| 0.3623959908228751|
|2014|        1|      Eixample|la Nova Esquerra ...|average rent (eur...|716.13|0.30332617912309817|
|2014|        1|      Eixample|         Sant Antoni|average rent (eur...|693.43| 0.2913261368322002|
|2014|        1|Sants-Montjuic|        el Poble Sec|average rent (eur...| 568.0|0.22501929522218578|
|2014|        1|Sants-Montjuic|   la Marina de Port|average rent (eur...|553.55|0.21738050178150403|
|2014|        1|Sants-Montjuic|la Font de la Gua...|average rent (eur...| 631.5| 0.2585876954632439|
|2014|        1|Sants-Montjuic|         Hostafrancs|average rent (eur...|580.71| 0.2317382616326401|
|2014|        1|Sants-Montjuic|          la Bordeta|average rent (eur...|604.74|0.24444139010181531|
|2014|        1|Sants-Montjuic|       Sants - Badal|average rent (eur...|584.27| 0.2336202065910364|
|2014|        1|Sants-Montjuic|               Sants|average rent (eur...|605.28|0.24472685366292035|
|2014|        1|     Les Corts|           les Corts|average rent (eur...|777.23| 0.3356258524259116|
|2014|        1|     Les Corts|la Maternitat i S...|average rent (eur...|700.16|0.29488385862152816|
|2014|        1|     Les Corts|           Pedralbes|average rent (eur...|1230.0|   0.57497647568802|
+----+---------+--------------+--------------------+--------------------+------+-------------------+
only showing top 20 rows

In [27]:
data = DF.toPandas()
data

,Year,Trimester,District,Neighbourhood,Average _rent,Price,Price_Escalat
0,2014,1,Ciutat Vella,el Raval,average rent (euro/month),589.55,0.236411
1,2014,1,Ciutat Vella,Gothic Quarter,average rent (euro/month),712.79,0.301561
2,2014,1,Ciutat Vella,la Barceloneta,average rent (euro/month),540.71,0.210593
3,2014,1,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",average rent (euro/month),673.44,0.280759
4,2014,1,Eixample,Fort Pienc,average rent (euro/month),736.09,0.313878
...,...,...,...,...,...,...,...
4617,2022,2,Sant Marti,Diagonal Mar i el Front Maritim del Poblenou,average rent per surface (euro/m2),17.50,0.790287
4618,2022,2,Sant Marti,el Besos i el Maresme,average rent per surface (euro/m2),12.20,0.497792
4619,2022,2,Sant Marti,Provencals del Poblenou,average rent per surface (euro/m2),14.60,0.630243
4620,2022,2,Sant Marti,Sant Marti de Provencals,average rent per surface (euro/m2),11.90,0.481236
4621,2022,2,Sant Marti,la Verneda i la Pau,average rent per surface (euro/m2),11.40,0.453642

In [31]:
data[data['Neighbourhood']=='el Raval'][data['Average _rent']==]

,Year,Trimester,District,Neighbourhood,Average _rent,Price,Price_Escalat
0,2014,1,Ciutat Vella,el Raval,average rent (euro/month),589.55,0.236411
68,2014,2,Ciutat Vella,el Raval,average rent (euro/month),550.63,0.215837
138,2014,3,Ciutat Vella,el Raval,average rent (euro/month),576.45,0.229486
206,2014,4,Ciutat Vella,el Raval,average rent (euro/month),597.00,0.240350
273,2014,1,Ciutat Vella,el Raval,average rent per surface (euro/m2),10.76,0.418322
...,...,...,...,...,...,...,...
4284,2021,4,Ciutat Vella,el Raval,average rent per surface (euro/m2),13.10,0.547461
4352,2022,1,Ciutat Vella,el Raval,average rent (euro/month),917.00,0.409513
4419,2022,1,Ciutat Vella,el Raval,average rent per surface (euro/m2),15.50,0.679912
4486,2022,2,Ciutat Vella,el Raval,average rent (euro/month),872.00,0.385725
4554,2022,2,Ciutat Vella,el Raval,average rent per surface (euro/m2),14.70,0.635762

In [20]:
data = data['Price_Escalat']
data

0       0.236411
1       0.301561
2       0.210593
3       0.280759
4       0.313878
          ...
4617    0.790287
4618    0.497792
4619    0.630243
4620    0.481236
4621    0.453642
Name: Price_Escalat, Length: 4622, dtype: float64

In [24]:
data
train = data.iloc[:-12]  # Datos de entrenamiento (primeros 4 años)
test = data.iloc[-12:]   # Datos de prueba (último año)

# Paso 5: Entrenar modelo
model = ARIMA(train, order=(5,1,0))  # Especifica el orden del modelo ARIMA
model_fit = model.fit()

# Paso 6: Validar modelo
predictions = model_fit.forecast(steps=len(test))  # Hacer predicciones para los datos de prueba

# Calcula el error (por ejemplo, MSE)
mse = ((predictions - test) ** 2).mean()
print("Mean Squared Error:", mse)

# Paso 7: Hacer predicciones para el siguiente año
next_year_predictions = model_fit.forecast(steps=12)

Mean Squared Error: 0.03670318737621794

In [25]:
predictions

4610    0.504106
4611    0.500111
4612    0.492843
4613    0.494655
4614    0.497096
4615    0.497505
4616    0.498338
4617    0.497594
4618    0.497381
4619    0.497334
4620    0.497279
4621    0.497432
Name: predicted_mean, dtype: float64

In [26]:
test

4610    0.475717
4611    0.503311
4612    0.591611
4613    0.569536
4614    0.674393
4615    0.966887
4616    0.757174
4617    0.790287
4618    0.497792
4619    0.630243
4620    0.481236
4621    0.453642
Name: Price_Escalat, dtype: float64